body {
    font-family: 'Brandon Grotesque Regular', sans-serif;
    font-size:calc(20px + 1.2vw);
    background-color: white;
    margin-left: 30px;
    max-width: 80%;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size:calc(30px + 4vw);
}
h2 {
    font-size:calc(15px + 1vw);
    color: #b30000;
}